apiVersion: v1
kind: Pod
metadata:
  name: "embedding-{{ .InstanceSlug }}"
  labels:
    ai-services.io/template: "{{ .TemplateID }}"
  annotations:
    io.podman.annotations.ulimit: "nofile=134217728:134217728,memlock=-1:-1"
spec:
  restartPolicy: always
  volumes:
    - name: models
      hostPath:
        path: "{{ .BaseDir }}/models"
        type: Directory
    - name: vllm-ipc
      emptyDir:
        medium: Memory
        sizeLimit: "64Mi"
  containers:
    - name: embedding
      image: "{{ .Values.image }}"
      args:
      - --model
      - /models/{{ .Values.model }}
      - --served-model-name
      - {{ .Values.model }}
      - --dtype
      - float32
      - --port=8001
      livenessProbe:
        httpGet:
          path: /health
          port: 8001
        initialDelaySeconds: 120
        periodSeconds: 30
        timeoutSeconds: 5
        failureThreshold: 3
      env:
        - name: VLLM_CPU_KVCACHE_SPACE
          value: "1"
        - name: VLLM_WORKER_MULTIPROC_METHOD
          value: "fork"
        - name: VLLM_RPC_BASE_PATH
          value: "/run/vllm_ipc"
        - name: OMP_NUM_THREADS
          value: "16"
      resources:
        requests:
          memory: "6Gi"
        limits:
          memory: "6Gi"
      ports:
        - containerPort: 8001
      volumeMounts:
        - mountPath: /models:z
          name: models
          readOnly: true
        - mountPath: /run/vllm_ipc
          name: vllm-ipc
